
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AbouUs</title>
</head>
<body>
    <h1>This is Aboutus page</h1>

    <b style="color:aqua;"><a href="~/Home/Index">Back to Index Page</a></b>
</body>
</html>
