@{ 
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
   <h1><u>Welcome to BookStore Application</u></h1>
    <p>This application returns all the details about the book</p>
    <b style="color:aqua;"><a href="~/Home/AbouUs">GoTo About-Us</a></b>
</body>
</html>