
<h1 class="h1">This application returns all the details about the book</h1>

@section breadcrumb{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active"><a href="#">Book</a></li>
            @*<li class="breadcrumb-item active" aria-current="page">GetAllBooks</li>*@
        </ol>
    </nav>
}
@section scripts{
    <script>
        $(document).ready(function () {
            alert("Document is ready");
        })
    </script>
}




